body {
  background-color: #00000;
}

section.facets {
  float:right;
}

.publication {
  margin-bottom: 1em;
}

.person {
  margin-bottom: 1em;
}


.organization {
  margin-bottom: 1em;

}


div.search-results {
}


div.search-result-row {
  border: 1px dotted #d3d3d3;
  text-align: left;
  vertical-align: top;
  margin-bottom: 1em;
  padding: 4px;
}
 
div.highlight-text {
  margin: 4px;
}

span.pages-summary {
  padding: 8px;
}

span.loading-image {
  display: block;
  margin: 1em;
  background: url(../images/spinner.gif) no-repeat;
  width:52px;
  height:52px;
}


img.profile-thumbnail {
    width: 90px;
    height: 90px;
}


