@dukeBlueDark: #001A57;
@headerTextColor: #ffffff;
@headerBGColor: @dukeBlueDark;
@sideBuffer: 1em;

.reset-whitespace {
  margin: 0;
  padding: 0;
}

.note {
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
  color: darkred;
}

body {
  .reset-whitespace;
}

header, footer {
  .reset-whitespace;
   background-color: @headerBGColor;
   color: @headerTextColor;
   padding: @sideBuffer;
}

#main {
   padding: 0 @sideBuffer @sideBuffer;
}

.search-results {
  float:left;
}

.facets {
  float:right;
}

