<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= htmlWebpackPlugin.options.title %></title>


    <!--
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    -->

   </head>

   <body> 
    <header class="navbar">
      <div id="header-navbar-inner" class="container">
          <a href="http://scholars.duke.edu">
              <div class="navbar-header">
                <img id="logo-image" class="navbar-brand" alt="Scholars@Duke" />
              </div>
          </a>

          <nav id="header-pills" class="navbar-right">  
            <ul class="nav nav-pills navbar-nav">  
              <li class="hidden-xs"><a href="http://scholars.duke.edu/browse">Index</a></li>  
              <li class="hidden-xs"><a href="http://about.scholars.duke.edu/support-duke-faculty-delegates">Support</a></li>  
            </ul>  
          </nav> 

       </div>

    </header>

     <div id="tabs-navbar-inner" class="container">
      <nav class="navbar navbar-default">

          <!-- mobile only menu -->
          <div id="mobile-header-nav">
            <a href="http://scholars.duke.edu/people">People</a> |
            <a href="http://scholars.duke.edu/organizations">Schools / Institutes</a> |
            <a href="http://scholars.duke.edu/research">Research</a> <!--|
            <a href="http://scholars.duke.edu/browse">Index</a> |
            <a href="http://about.scholars.duke.edu/support-duke-faculty-delegates">Support</a>
            -->
          </div>
        
          <div id="nonmobile-header-nav">
            <ul class="nav navbar-nav">
              <li><a href="http://scholars.duke.edu">Home</a></li>
              <li><a href="http://scholars.duke.edu/people">People</a></li>
              <li><a href="http://scholars.duke.edu/organizations">Schools / Institutes</a></li>
              <li><a href="http://scholars.duke.edu/research">Research</a></li>
            </ul>
          </div>

      </nav>
    </div>

    <div id="content"></div>

      
    <script type="text/javascript">
    ScholarsSearch(document.getElementById('content'))
    </script>


    </body>
</html>
